.top-bar {
    background: #4CBA94;
    padding: 10px;
    justify-content: center;
  }

.randomCatFact {
    margin-left: 0.75rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 12px;
    padding-top: 20px;
    padding-bottom: 0px;
}
  
.hero-search-filter {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/cat\ and\ dog\ pals.jpg") center center no-repeat;
    height: 70vh;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  
  .hero-search-filter-logo {
    margin-bottom: 2rem;
  }
  
  .hero-search-filter-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 300px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .hero-search-filter-menu {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  
  @media screen and (max-width: 39.9375em) {
    .hero-search-filter-menu li {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%;
    }
    .hero-search-filter-menu li a {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  .hero-search-filter-menu a {
    color: #fefefe;
    font-weight: bold;
  }
  
  .hero-search-filter-menu a .fa {
    font-size: 1.125rem;
    font-weight: normal;
    text-decoration: none;
  }
  
  .hero-search-filter-menu a:hover {
    text-decoration: underline;
  }
  
  .hero-search-filter-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    background: #fefefe;
    padding: 10px;
    border-radius: 5px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-search-filter-form label {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: #8a8a8a;
    font-weight: bold;
  }
  
  .hero-search-filter-form input,
  .hero-search-filter-form .submit {
    margin-bottom: 0;
  }
  
  .hero-search-filter-form .submit {
    background-color: #4CBA94;
    padding: 10px;
    color: white;
  }
  
  .fa-solid {
    color: white;
  }
  
  @media screen and (max-width: 39.9375em) {
    .hero-search-filter-form {
      width: 95%;
    }
  }
  
  .hero-search-filter-form-find,
  .hero-search-filter-form-near {
    border: 0;
    box-shadow: none;
  }
  
  .hero-search-filter-form-find:focus,
  .hero-search-filter-form-near:focus {
    border: 0;
    box-shadow: none;
  } 
  

.selectDropdown {
    border: none;
    margin: 10px;
  }

h1 {
    font-family: 'Fira Sans', sans-serif;
}

.results-found {
    margin-left: 20px;
    font-family: 'Fira Sans', sans-serif;
    padding: 20px;
}

.card-user-profile {
    position: relative;
    z-index: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
    padding: 25px;
}

.card-user-profile> :last-child {
    margin-bottom: 0;
}

.card-user-profile:hover .card-user-profile-img {
    opacity: 1;
}

.card-user-profile-content {
    position: relative;
    font-family: 'Fira Sans', sans-serif;
}

.card-user-profile-content::before {
    position: absolute;
    content: '';
    top: -3.4375rem;
    left: -1.875rem;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 0;
    border-color: transparent transparent transparent #fefefe;
}

.card-user-profile-actions {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 1rem;
    background: #e6e6e6;
    background: #fefefe;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.card-user-profile-actions> :last-child {
    margin-bottom: 0;
}

.card-user-profile-img {
    max-width: 100%;
    opacity: 0.85;
    transition: all 0.25s ease;
}

.card-user-profile-avatar {
    position: absolute;
    bottom: 100%;
    left: 1rem;
    z-index: 2;
    max-width: 5.625rem;
}

.card-user-profile-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-user-profile-name {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-user-profile-button {
    margin-bottom: 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    font-family: 'Fira Sans', sans-serif;
}

.card-user-profile-button+.card-user-profile-button {
    margin-left: 1rem;
}

.card-user-profile-info {
    font-size: 0.875rem;
    letter-spacing: 1px;
    opacity: 0.8;
}

.social-footer {
    padding: 1rem;
    background: #4CBA94;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: center;
  }

a {
    color: white;
  }
.link {
  text-decoration: underline;
  color: white;
}

  #catFactBtn {
    color: white;
    font-size: 12px;
    background: #4CBA94;
    border-color: #4CBA94;
    border-radius: 30px;
    padding: 12px;
    margin: 10;
    
  }